$grey-color: #808080;
$blue-color: #043669;
$red-color: #d32f2f; 
$green-color: #2e7d32;
$grey-light-color: #ebebeb;
$black-color: #000000;
$white-color: #ffffff;

$SMALL_SCREEN_SIZE: 950;
$BIG_SCREEN_SIZE: 1921;
